.listing-show-header
	%h5
		= material_icon.md_24.library_books.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Módulo de posts
		%p Aquí podrá gestionar el contenido de todos los posts del blog, podrá recopilar cronológicamente textos o artículos de uno o varios autores, apareciendo primero el más reciente, tiene opciones de agregar banner principal y organizarción por categorías y subcategorías.