- if can? :index, KepplerBlog::Post
	%li
		= header_tab "Blog", "library_books", "KepplerBlog"
		= body_tab do
			- if can? :index, KepplerBlog::Post
				= link_tab "Posts", "/admin/blog/posts", "KepplerBlog::Posts"
			- if can? :index, KepplerBlog::Category
				= link_tab "Categorías", "/admin/blog/categories", "KepplerBlog::Categories"